<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="../static/fontawesome-free-5.12.0-web/css/all.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="../static/css/style.css">
    <!--===============================================================================================-->
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>GravCalc V2.0 | About</title>
</head>

<body>
    <!-- Header & Nav -->
    <header class="header">
        <div class="container">
            <div class="header-content">
                <a href="index.html" class="logo">
                    <img src="../static/img/logo.jpeg" alt="">
                    <h1>GravCalc</h1>
                </a>
                <nav class="hide-on-sm nav">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </nav>
                <div class="toggle hide-on-lg">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
        </div>
    </header>
    <!-- SideNav -->
    <div class="sideNav hide-on-lg">
        <nav class="sideNav-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </div>

    <div class="wrapper">
        <!-- About -->
        <div class="about">
            <div class="container">
                <div class="about-content">
                    <h1>About</h1>
                    <p>
                        GravCalc is a web-based/online gravity calculator that implements all units of conversion for calculation and correction of gravity data. The tool has been designed to ease calculation, it is user friendly and responsive. Detailed design and programming
                        aids the gravity calculator to give precise and accurate results to its user.
                    </p>
                </div>
            </div>
        </div>

        <!-- Carousel -->
        <!-- <div class="carousel">
            <div class="container">
                <div class="carousel-content">
                    <img src="../static/img/logo.jpeg" alt="">
                </div>
                <div class="carousel-content">
                    <img src="../static/img/logo.jpeg" alt="">
                </div>
                <div class="carousel-content">
                    <img src="../static/img/logo.jpeg" alt="">
                </div>
            </div>
        </div> -->
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <a href="index.html" class="logo">
                <img src="../static/img/logo.jpeg" alt="">
                <h1>GravCalc</h1>
            </a>
            <p><small>Copyright &copy;2020 | Made by Geng</small></p>
        </div>
    </footer>
    <!--==============================================================================================-->
    <script src="../static/js/main.js"></script>
</body>

</html>