<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="../static/fontawesome-free-5.12.0-web/css/all.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="../static/css/style.css">
    <!--===============================================================================================-->
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>GravCalc V2.0 | Home</title>
</head>

<body>
    <!-- Header & Nav -->
    <header class="header">
        <div class="container">
            <div class="header-content">
                <a href="index.html" class="logo">
                    <img src="../static/img/logo.jpeg" alt="">
                    <h1>GravCalc</h1>
                </a>
                <nav class="hide-on-sm nav">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </nav>
                <div class="toggle hide-on-lg">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
        </div>
    </header>
    <!-- SideNav -->
    <div class="sideNav hide-on-lg">
        <nav class="sideNav-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </div>

    <div class="wrapper">
        <!-- Add Button -->
        <div class="add">
            <div class="container">
                <i class="add-btn fa fa-plus fa-2x"></i>
            </div>
        </div>

        <!-- Showcase -->
        <div class="showcase">
            <div class="container">
                <div class="showcase-content">
                    <form action="">
                        <table class="count">
                            <thead>
                                <tr class="title">
                                    <th>S/N</th>
                                    <th>T(hrs)</th>
                                    <th>∆T(mins)</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th>Height</th>
                                    <th>Calibrated (mGals)</th>
                                    <th>Raw Observed Gravity (mGals)</th>
                                    <th>Meter Drift (mGals)</th>
                                    <th>Drift Corredted (mGals)</th>
                                    <th>Height Correction (mGals)</th>
                                    <th>Atm Effect (mGals)</th>
                                    <th>Observed Absolute Gravity (mGals)</th>
                                    <th>Complete Bouguer Anomaly (mGals)</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody class='tbody'>
                                <tr>
                                    <td></td>
                                    <td><input type="number" id="time-min" placeholder="0"></td>
                                    <td><input type="number" id="time-hrs" placeholder="0"></td>
                                    <td><input type="number" id="latitude" placeholder="0"></td>
                                    <td><input type="number" id="longitude" placeholder="0"></td>
                                    <td><input type="number" id="height" placeholder="0"></td>
                                    <td><input type="number" id="calibrated" placeholder="0"></td>
                                    <td><input type="number" id="rawObsGrav" placeholder="0"></td>
                                    <td><input type="number" id="meterDrift" placeholder="0"></td>
                                    <td><input type="number" id="driftCorrected" placeholder="0"></td>
                                    <td><input type="number" id="heightCorrected" placeholder="0"></td>
                                    <td><input type="number" id="atmEffect" placeholder="0"></td>
                                    <td><input type="number" id="ObsAbsGrav" placeholder="0"></td>
                                    <td><input type="number" id="comBouguerAnomaly" placeholder="0"></td>
                                    <td><button type="button" class="btn btn-del">Remove</button></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="number" id="time-min" placeholder="0"></td>
                                    <td><input type="number" id="time-hrs" placeholder="0"></td>
                                    <td><input type="number" id="latitude" placeholder="0"></td>
                                    <td><input type="number" id="longitude" placeholder="0"></td>
                                    <td><input type="number" id="height" placeholder="0"></td>
                                    <td><input type="number" id="calibrated" placeholder="0"></td>
                                    <td><input type="number" id="rawObsGrav" placeholder="0"></td>
                                    <td><input type="number" id="meterDrift" placeholder="0"></td>
                                    <td><input type="number" id="driftCorrected" placeholder="0"></td>
                                    <td><input type="number" id="heightCorrected" placeholder="0"></td>
                                    <td><input type="number" id="atmEffect" placeholder="0"></td>
                                    <td><input type="number" id="ObsAbsGrav" placeholder="0"></td>
                                    <td><input type="number" id="comBouguerAnomaly" placeholder="0"></td>
                                    <td><button type="button" class="btn btn-del">Remove</button></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="number" id="time-min" placeholder="0"></td>
                                    <td><input type="number" id="time-hrs" placeholder="0"></td>
                                    <td><input type="number" id="latitude" placeholder="0"></td>
                                    <td><input type="number" id="longitude" placeholder="0"></td>
                                    <td><input type="number" id="height" placeholder="0"></td>
                                    <td><input type="number" id="calibrated" placeholder="0"></td>
                                    <td><input type="number" id="rawObsGrav" placeholder="0"></td>
                                    <td><input type="number" id="meterDrift" placeholder="0"></td>
                                    <td><input type="number" id="driftCorrected" placeholder="0"></td>
                                    <td><input type="number" id="heightCorrected" placeholder="0"></td>
                                    <td><input type="number" id="atmEffect" placeholder="0"></td>
                                    <td><input type="number" id="ObsAbsGrav" placeholder="0"></td>
                                    <td><input type="number" id="comBouguerAnomaly" placeholder="0"></td>
                                    <td><button type="button" class="btn btn-del">Remove</button></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="number" id="time-min" placeholder="0"></td>
                                    <td><input type="number" id="time-hrs" placeholder="0"></td>
                                    <td><input type="number" id="latitude" placeholder="0"></td>
                                    <td><input type="number" id="longitude" placeholder="0"></td>
                                    <td><input type="number" id="height" placeholder="0"></td>
                                    <td><input type="number" id="calibrated" placeholder="0"></td>
                                    <td><input type="number" id="rawObsGrav" placeholder="0"></td>
                                    <td><input type="number" id="meterDrift" placeholder="0"></td>
                                    <td><input type="number" id="driftCorrected" placeholder="0"></td>
                                    <td><input type="number" id="heightCorrected" placeholder="0"></td>
                                    <td><input type="number" id="atmEffect" placeholder="0"></td>
                                    <td><input type="number" id="ObsAbsGrav" placeholder="0"></td>
                                    <td><input type="number" id="comBouguerAnomaly" placeholder="0"></td>
                                    <td><button type="button" class="btn btn-del">Remove</button></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="number" id="time-min" placeholder="0"></td>
                                    <td><input type="number" id="time-hrs" placeholder="0"></td>
                                    <td><input type="number" id="latitude" placeholder="0"></td>
                                    <td><input type="number" id="longitude" placeholder="0"></td>
                                    <td><input type="number" id="height" placeholder="0"></td>
                                    <td><input type="number" id="calibrated" placeholder="0"></td>
                                    <td><input type="number" id="rawObsGrav" placeholder="0"></td>
                                    <td><input type="number" id="meterDrift" placeholder="0"></td>
                                    <td><input type="number" id="driftCorrected" placeholder="0"></td>
                                    <td><input type="number" id="heightCorrected" placeholder="0"></td>
                                    <td><input type="number" id="atmEffect" placeholder="0"></td>
                                    <td><input type="number" id="ObsAbsGrav" placeholder="0"></td>
                                    <td><input type="number" id="comBouguerAnomaly" placeholder="0"></td>
                                    <td><button type="button" class="btn btn-del">Remove</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <a href="result.html" class="btn btn-submit">Submit</a>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <a href="index.html" class="logo">
                <img src="../static/img/logo.jpeg" alt="">
                <h1>GravCalc</h1>
            </a>
            <p><small>Copyright &copy; 2020 | Made with <span>&hearts;</span> by WeCode</p>
        </div>
    </footer>
    <!--==============================================================================================-->
    <script src="../static/js/main.js"></script>
</body>

</html>