body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: var(--very-dark-violet);
}

:root {
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --red: rgb(255, 12, 12);
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DM Serif Display', serif;
    color: var(--dark-violet);
}

img {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Global */

.container {
    margin: auto;
    width: 90%;
    /* overflow: hidden; */
}

.hide-on-sm {
    display: none;
}

.wrapper {
    width: 98%;
    margin: auto;
    border-radius: 10px;
    background: var(--white);
    height: 800px;
}


/* Header & Nav */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: var(--white);
    padding-top: .6rem;
    z-index: 2;
}

.header img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

.logo {
    display: inline-flex;
    align-items: center;
    border: 1px dashed var(--dark-violet);
    padding: 5px;
    border-radius: 10px;
}

.logo h1 {
    font-size: 20px;
}

.toggle {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 20px;
}

.bar1,
.bar2,
.bar3 {
    background-color: var(--very-dark-violet);
    width: 30px;
    height: 3px;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/* SideNav */

.sideNav {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 1;
    overflow: hidden;
    transition: 0.7s;
}

.sideNav-content {
    width: 100%;
    background: var(--dark-violet);
    text-align: center;
    padding: 7rem 0 5rem 0;
}

.sideNav li a {
    color: var(--white);
}

.sideNav li {
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.sideNav li a:hover {
    color: var(--very-light-gray);
}

.sideNav-visible {
    height: 250px;
    display: block;
}


/* Add */

.add {
    padding-top: 8rem;
}

.add-btn {
    color: var(--dark-violet);
    cursor: pointer;
}

.add-btn:hover {
    opacity: 0.8;
}


/* Showcase */

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.showcase {
    padding-top: 2rem;
    width: 100%;
    height: auto;
}

.showcase-content {
    padding: 1rem;
    height: 320px;
    background: var(--very-light-gray);
    border-radius: 5px;
    overflow: scroll;
}

.showcase-content input {
    background: transparent;
    height: 30px;
    width: 100px;
    margin: 0;
    padding: 0 1rem;
    text-align: center;
    border: none;
    outline: none;
}

.count {
    counter-reset: serial-number;
}

.count td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
}

table td:first-child {
    padding: 0 .5rem;
    border-right: 1px solid var(--dark-violet);
}

table,
th,
td {
    border-bottom: solid 1px var(--very-dark-violet);
    border-collapse: collapse;
    color: var(--dark-grayish-violet);
}

table th {
    font-weight: bold;
    font-family: 'DM Serif Display', serif;
    color: var(--dark-violet);
}

table tr:nth-child(even) {
    background: var(--very-light-gray);
}

table tbody tr {
    background: var(--white);
}

th,
td {
    padding: 10px 0;
}

.btn-del {
    background: var(--red);
    color: var(--white);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    margin: 0 .5rem;
}

.btn-del:hover {
    opacity: 0.8;
}

.btn-submit {
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    background: var(--white);
    color: var(--very-dark-violet);
    border: 1px solid var(--very-dark-violet);
    cursor: pointer;
    border-radius: 5px;
}

.btn-submit:hover {
    background: var(--very-dark-violet);
    color: var(--white);
}


/* Footer */

footer {
    /* margin-top: 0.5rem; */
    text-align: center;
    background: var(--dark-violet);
    color: var(--white);
    padding: 2rem 0 1rem 0;
}

footer .logo {
    border: 1px dashed var(--white);
    margin-bottom: .8rem;
}

footer .logo img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

footer .logo h1 {
    color: var(--white);
    font-size: 20px;
}


/* About Page */

.about {
    padding-top: 8rem;
    text-align: center;
    height: auto;
}

.about-content {
    border-radius: 5px;
    padding: 1rem;
    background: var(--very-light-gray);
}

.about-content h1 {
    text-transform: uppercase;
}

.about-content p {
    color: var(--dark-violet);
    line-height: 1.5;
}

.carousel {
    padding-top: 5rem;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100%;
}

.carousel-content {}

.carousel-content img {
    width: 200px;
    height: 200px;
    padding-right: 1rem;
}


/* Result Page */

.result {
    padding-top: 8rem;
}


/* Media Queries */

@media screen and (min-width:600px) {
    .container {
        width: 80%;
    }
    .hide-on-lg {
        display: none;
    }
}